<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VirtuDoc Login</title>
  <link rel="stylesheet" href="login_account.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="logo_img">
  <img class="logo" src="VirtuDocLogo.png" alt="logo">
  <br>
  <div class="container">
    <div class="title">Login</div>
    <div class="content">
      <form action="#">
        <div class="user_details_login">
          <div class="input_box_login">
            <span class="details_login">Username</span>
            <input type="text" placeholder="Enter your username" required>
          </div>
          <div class="input_box_login">
            <span class="details_login">Password</span>
            <input type="password" placeholder="Enter your password" required>
          </div>
          <div class="button">
         <span class="details"> <input type="submit" value="Login">
           <input type="button" onclick="window.location.href='register.html';" value="Create Account"/></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>